*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}
hr{
    //////////////////////////////////////
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
header{
    height: 65px;
    padding: 20px;
    background-color: white;
}
.wid100{
    width: 100%;
}
.fl{
    float: left;
    margin-right: 30px;
}
.fr{
    float: right;
    margin-right:30px ;
}
button{
    padding:5px 15px ;
    background-color: #0061ff;
    color: white;
    border: 0;
    margin-bottom: 10px;
}
i{
    font-family: 'Open Sans', sans-serif;
}
.narrow{
    width: 65%;
    margin: auto;
}
.jump{
    width: 80%;
    margin: 40px auto;
    position: relative;
}
.back{
    height: 80vh;
    background-color: #b4d0e7;
    position: absolute;
    z-index: 0;
}
.jump>h1{
    font-size: 70px;
    font-weight: 700;
}
.jump>p{
    width: 32%;
    margin:30px 0;
}
.jump>i{
    margin-top: 30px;
    font-size: 40px;
}
.jump>img{
    float: right;
    width: 60%;
}
.contenitore{
    margin: 220px auto;
}
.con1>*, .con2>*, .con3>*,.body * {
    float: left;
}
input[type=radio]{
    margin: 40px 0;
    margin-left: 10px;
    margin-right: 2px;
}
.card{
    width: calc(100% / 3 - 27px);
    border: 1px solid black;
    padding:0 20px;
    float: left;
    height: 140vh;
}
.con1>.even{
    margin: 0 40px;
}
.title{
    text-align: center;
    padding: 4px 0;
}
.card *{
    display: block;
    line-height: 2;
}
.card>button{
    width: 100%;
}
.small-hr{
    width: 3vw;
    background-color: black;
    height: 1px;
    margin: 25px 0;
}
ul{
    list-style: url('img/check-solid.svg');
}
.cardb{
    border: 1px solid black;
    margin-top: 50px;
    line-height: 2;
    position: relative;
    padding: 0 20px;
}
.cardb>button{
    position: absolute;
    right: 20px;
    top: 70px;
    width: 30%;
}
.con2{
    margin: 100px 0;
    position: relative;
}
.con2>img{
    width: 50%;
    margin-right: 40px;
}
.con2>.txt{
    width: 45%;
}
.butt2{
    background-color:white;
    color: black;
    border: 1px solid black;
}
.minicont{
    width: calc(100% / 3 - 20px);
    margin-top: 40px;
    height: 450px;
}
.con3>.even{
    margin: 0 20px;
    margin-top: 40px;
}
.part{
    width: 30%;
    position: relative;
}
.con4 a {
    display: block;
    margin: 40px 0;
}
.con4 .logo{
    width: calc(100% / 2);
    height: 227px;
    /* padding-top: 50%; */
    position: relative;
}
.head{
    width: 30%;
}
.con4 .mid{
    padding: 50px;
    height: 454px;
    width: 40%;
    background-color: #f5f5f5;

}
.part>p{
    margin: 40px 0 ;
}
.logo>img{
    width: 50%;
    filter: invert(100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.l1{
    background-color: #a2d39b;
}
.l2{
    background-color: #61082b;
}
.l3{
    background-color: #0093ce;
}
.l4{
    background-color: #ff1c1c;
}
.l5{
    background-color: #d5001f;
}
.l6{
    background-color: #b4d0e7;
}
.l7{
    background-color: #0d2481;
}
.l8{
    background-color: #ffd830;
}
.con5{
    height: 50vh;
    background-color: #b4d0e7;
    position: relative;
    padding: 20vh 0;
}
.con5 h1{
    color:#61082b ;
    font-size: 30px;
    width: 40%;
}
.con5 .butt2{
    border: 0;
    width: 30%;
    float: right;
}